name: Release
#staging.yaml
on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: sbp_009133ae8a0f3a16a113bcb9bb45e822f94b4d3f
      # SUPABASE_DB_PASSWORD: Gl5D4h3TJEXfsqRq
      # SUPABASE_PROJECT_ID: sglhjcozxleqnudxfmhd

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      # - run: supabase link --project-ref $SUPABASE_PROJECT_ID
      - run: supabase db push --db-url postgresql://postgres:postgres@172.25.37.148:54322/postgres --debug
